<div class="container mt-12">
    <div class="row">
        <div class="col-md-12">
            <h2>Este é um protótipo de Single Page Application para o processo seletivo da Tinnova e faz parte de uma série de cinco desafios. <br>
            <br> Para mais informações, acesse o <a href="https://github.com/Niashi/desafios-tinnova" target="blank">repositório</a> dos testes.</h2>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row ">
        <div class="col-md-12 d-flex justify-content-end">
            <h3>
                - <a href="https://github.com/Niashi" target="blank">Mathias Niashi</a>.
            </h3>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn-lg btn-outline-dark" routerLink='/veiculos'>Voltar</button>
        </div>
    </div>
</div>
